<div class="search-form mt-5">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">Key Word</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="">
        </div> 


        <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>